.heading-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
}
.row{
  padding:40px;
}
/*Icons */
i{
  color:red;
}
/*Card*/
.card{
  height: 170px;
  margin: 5px;
}
/*Heading, wine not logo*/
.heading-paragraph {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(95deg, #000, white, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*Wine not Animation*/
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*Each separate section*/
  section{
    border: 1px solid white;
    display: block;
    overflow: auto;
  }

  /*Footer*/
  .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

/*Dc.js customized code*/  
  .dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px; }
    .dc-data-count .filter-count, .dc-data-count .total-count {
      color: #3182bd;
      font-weight: bold; }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    div.content {margin-left: 0;}
  }
  